@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
	font-family: "Russo One", sans-serif;
}
.card-container {
	/* display: flex; */
}
.card {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;
}
.card > div {
	margin: 50px;
}
.card-img img {
	border: 1px solid black;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-top: 50px;
}
.card-contents {
	display: flex;
	/* flex-direction: row; */
}
.card-items {
	margin-left: 50px;
}
.card-contents-titles h1 {
	font-size: 43px;
}
.card-contents-text {
	margin-left: 15px;
}
.card-contents-text p {
	color: grey;
}

.search {
	width: 90%;
	height: 50px;
	outline: none;
	border: none;
	overflow: hidden;
	margin-left: 10px;
}

.new-tag input {
	outline: none;
	border: none;
	border-bottom: 0.5px solid gray;

	padding: 10px 0px;
	font-size: 20px;
}

.plus-minus-icons a {
	font-size: 35px;
	padding-top: 23px;
	color: gray;
}

.tagbtn {
	background: #d2cdcd;
	color: black;
	padding: 8px;
	border-radius: 4px;
	margin: 0px 5px;
}

@media screen and (max-width: 480px) {
	.card > div {
		margin: 34px;
	}
	.card-contents {
		/* display: flex; */
		flex-direction: column;
	}
	.card-items {
		margin-left: 0px;
	}
	.card-contents-titles h1 {
		font-size: 23px;
	}
	.card-contents-text {
		margin-left: 0px;
	}
	.card-contents-text p {
		color: grey;
		font-size: 10px;
	}
	.new-tag input {
		font-size: 15px;
	}
	.plus-minus-icons a {
		font-size: 35px;
		padding-top: 23px;
		color: gray;
		
		
	}
}
@media screen and (max-width: 768px) {
	.card > div {
		margin: 3px;
	}
	.card-contents {
		/* display: flex; */
		flex-direction: row;
		/* display:none */
	}
	.card-items {
		margin-left: 0px;
	}
	.card-contents-titles h1 {
		font-size: 22px;
	}
	.card-contents-text {
		margin-left: 0px;
	}
	.card-contents-text p {
		color: grey;
		font-size: 14px;
	}
	.new-tag input {
		font-size: 13px;
	}
	.plus-minus-icons a {
		font-size: 35px;
		padding-top: 28px;
		color: gray;
		
		
	}
}
@media screen and (max-width: 1024px) {
}
